*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

.app{
  min-height: 100vh;
  display: grid;
  background: #a89c9c;
  background-image: url("C:\Weather App\src\assets\bg.webp");
  background-size: cover; 
  background-position: center;

}
